@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #ffcc33, #ff6699);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1 i {
    color: #ff6699;
}



main {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ffcc33;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #ff6699;
    outline: none;
}

button {
    background: #ffcc33;
    color: #333;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: #ff6699;
    color: #fff;
    transform: translateY(-3px);
}

#expense-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

#expense-list li {
    background: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}